@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-off-white text-neutral-900 overflow-x-hidden font-sans antialiased selection:bg-accent selection:text-white;
  }
}

.text-stroke {
  -webkit-text-stroke: 1px currentColor;
  color: transparent;
}

.perspective-text {
  perspective: 1000px;
}
